---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container">
      <div class="prose">
        <h1 class="text-white heading">React Design Patterns</h1>
      </div>
    </div>
  </main>
</Layout>
