---
import Layout from "../layouts/Layout.astro";
import MyModal from "../components/modal/MyModal.jsx";
import RegularList from "../components/lists/RegularList";
import SmallPersonListItem from "../components/lists/SmallPersonListItem";
import Card from "../components/Card.astro";
import { people } from "../lib/people";
---

<Layout title="Modal">
  <h1>Modal</h1>
  <MyModal client:load>
    <Card
      title="People"
      imageSrc="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      imageAlt="People"
    >
      <p>Click on a person to see more details.</p>
      <RegularList
        items={people}
        resourceName="person"
        itemComponent={SmallPersonListItem}
      />
    </Card>
  </MyModal>
</Layout>
